doctype html
html
  include ./includes/admin-head.jade
  body
  div(class="navbar navbar-fixed-top")
    div.navbar-inner
      div.container
    div.container
      div(class="header clearfix")
      div.jumbotron
        block content