extends layout

block content
 div(class="header clearfix")
   div.jumbotron
    block content
      img(src='/images/1020px-CIA.svg.png'  height="300" width="300" class="login_logo")
      p
        | RESTRICTED ACCESS 
        span.dark_gold. 
          PROPERTY OF THE CIA
      p.access_text.
        SCAN VALID ACCESS TOKENS TO LOG IN
      div(id="progressBar")
        include ./includes/progressbar.jade  
      form(id="tokenForm" action="/verify") 
        input(name="uuidCode" type="hidden" id="uuidField" value='' + id)
        input(name="token" type="hidden" id="tokenField") 