extends layout

block content
 div(class="header clearfix")
  block content
    div.login_content_box
      img(src='/images/1020px-CIA.svg.png'  height="300" width="300" class="login_logo")
      p
        | RESTRICTED ACCESS 
        span.dark_gold. 
          PROPERTY OF THE CIA
      p.access_text.
        SCAN VALID ACCESS TOKENS TO LOG IN
      div(id="progressBar")
        if percent > 0
          include loginProgress.jade    
      form(id="tokenForm" action="/verify") 
        input(name="uuidCode" type="hidden" id="uuidField" value='' + id)
        input(name="token" type="hidden" id="tokenField") 
      script.
        var socket = io.connect('http://localhost:3000');
        socket.on('loggedIn', function (data) {
          $('#consoleContent').append(data);
        });
        socket.on('reveal', function (data) {
          window.location.href="/secret/" + data;
        })
      div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
        div(class="modal-dialog modal-lg")
          div(class="modal-content console")
            div(id="consoleContent")