extends layout

block content
  div(class="secret")   
    div(class="message" style="display: none") 
      h2.center.
        Secret message
      p(id="secretText")
      script.
        $(document).ready(function() {
          setTimeout(function() {$(".message").show();}, 2000);
          setTimeout(function() {addTextByDelay('#{secret}', $('#secretText'))}, 3000)
        });
      
      
      