.navbar-inner {
	min-height: 40px;
	background-color: #444;
}

div.jumbotron {
	margin-top: 30px;
}

p.game-url {
	text-align: center;
}

p.game-url a {
	color: #222;
	text-decoration: underline;
	font-size: 1.4em;
}