extends ../admin-layout

block content
  h1.
    Connect parties to tags
  p.help-text.
    Scan tags to register them with the parties. A single tag can only refer to one part  
  hr  
  p
    strong.
      Name: 
    =name
  p
    strong.
      Number of parties: 
    =parties
  p
    strong.
      Threshold: 
    =threshold
  hr
  p
    strong.
      Tag registration status
  div(class="progress" id="progressBar")
    div(class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100" style="width: #{percent}%")
      span(class="sr-only")
  form(id="tokenForm" action="/game/concede") 
    input(name="uuidCode" type="hidden" id="uuidField" value="#{ref}")
    input(name="token" type="hidden" id="tokenField")           